body{background-color:pink}
body #nav-table {width: 800px;}
h1 {color: #42022a;}
body{
    margin: 0;
    height: 100vh;
background-image: url(myybackground.jpg);
background-size:cover ;
background-position: center;
background-repeat: no-repeat;
color: rgb(22, 1, 18);
}
body{
    #nav-table {width: 800px;}
}
body {
    #nav-td {width: 200px; text-align: center;}
}
